[Desktop Entry]
Name=Remora
Comment=Build, deploy and mirror Android running in Docker
Exec=remora gui
Icon=io.github.EtherAura.Remora
Terminal=false
Type=Application
Categories=System;Emulator;Qt;
Keywords=Android;Android apps;emulator;container;Docker;LineageOS;AOSP;GPU acceleration;NVIDIA;Vulkan;VA-API;screen mirroring;virtual device;
StartupWMClass=remora
